h3.subheader {
  margin: 0 0 10px 0;
  font-size: 1.25rem;
}

.sidebar {
  background: #313940;
  color: #AAB2BD;
  padding-left: 0;
  height: 100%;
}

.side-nav li {
  border-bottom: 1px solid #2C3439;
  height: auto;
}

.row {
  width: 100%;
  max-width: 100%;
}